<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <p>{{title}}</p>
        <h1>About</h1>
        <img class="portrait" src="r.jpg">
        </div>
        {{>footer}}
    </body>
</html>